.navigation{
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
}
.navigation_container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 0;
}
.social_links{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 0;
    margin-bottom: -60px;
    position: relative;
    z-index: 4;
    width: max-content;
    float: right;
    z-index: 5;
}
.social_links button{
    position: relative;
    position: relative;

}
.navigation .logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background: transparent;
    height: 150px;
}
.navigation .logo img{
    width: 150px;
}
.navigation .links ul{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-right: 50px;
    padding: 20px 0;
}
.navigation .links li a{
    padding: 0px !important;
}
.navigation .links li a,
.navigation .links li{
    list-style: none;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    margin: 0 0px;
    padding: 10px 25px;
    border: 0px solid #fff;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 16px;
    letter-spacing: 0.3px;
    border-radius: 5px;
    white-space: nowrap;
}
.connect_wallet{
    text-decoration: none;
    color: #fff;
    background: transparent;
    padding: 8px 20px;
    border: 1px solid #fff;
    font-weight: 400;
    white-space: nowrap;
    text-transform: capitalize;
    font-size: 18px;
    letter-spacing: 0.3px;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 50px;
}
.social_links a{
    border: 1px solid #374A55;
    background: #204353;
    color: #204353;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    margin-right: 20px;
    border-radius: 50px;
}
.mobile_toggle{
    visibility: hidden;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    margin: 26px 20px 0 0;
    cursor: pointer;
}
.mobile_toggle span{
    display: block;
    background: #fff;
    margin: 4px 0;
    width: 30px;
    height: 2px;
}
/* .mobile_toggle span:hover{
} */
/* Media Query  */
.Mobile_Links{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fffffff2;
    position: fixed;
    height: 100vh;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 999;
    overflow: hidden;
    height: 0px;
    transition: 0.5s;
}
.Mobile_Links.active{
    height: 100vh;
}
.Mobile_Links ul{
    margin: 0;
    padding: 0;
}
.Mobile_Links ul li{
    list-style-type: none;
    text-align: center;
    padding: 10px 0;
    font-size: 24px;
    color: #000;
    transition: 0.3s;
    cursor: pointer;
}
.Mobile_Links ul a{
    text-decoration: none;
    color: #000;
}
.Mobile_Links ul li:hover{
    transform: scale(1.5);
}

@media only screen and (max-width: 1280px) {
    .navigation .links{
        display: none;
    }
    .mobile_toggle{
        visibility: visible;
        opacity: 1;
    }
}